<header>
    {{#link-to 'todos'}}Todos{{/link-to}}
    {{#if authentication.session.token}} | <button {{action 'logout'}}>Logout</button>{{/if}}
</header>

<div class="container">
    {{outlet}}
</div>

<footer>footer</footer>